body {
    font-family: Arial, sans-sserif;
    margin: 0;
    padding: 0;
    background-color: #f7fcfa;
}

#main-header {
    color: #333333;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links {
    text-decoration: none;
    color: #333333;
}

section {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.6;
    color: #333333;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #333333;
}

.about-us {
    color: #333333;
}

.about-us:hover {
    color: #005355;
    transform: scale(1.05);
}

.projects {
    color: #333333;
}

#projects:hover {
    color: #005355;
    transform: scale(1.05);
}

.contact:hover {
    color: #005355;
    transform: scale(1.05);
}

html {
    scroll-behavior: smooth;
}